*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  color: white;
  font-family: cera-round-pro ," Helvetica Neue",Helvetica,Arial, sans-serif ;
}
body::-webkit-scrollbar{
  display: none;
}
.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  /* background-color: blue; */
  padding: 10px;
  gap: 1rem;
  position: sticky;
  top: 0px;
}
.logo{
  width: 15%;
  /* background-color: blue; */
  padding: 15px;
  border-radius: 10px;
}
.seller{
  width: 15%;
  /* background-color: blue; */
  padding: 15px;
  border-radius: 10px;

}
.search{
  width: calc(70%  );
  /* background-color: blue; */
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 15px;
  
  gap: 2rem;
}
.side_bar{
  /* background-color: aqua; */
  width: 15%;
  height: 80vh;
  border-radius: 10px;
  position: sticky;
  top: 100px;
}
.post_section{
  width: calc(60%);
  /* background-color: gray; */
  
  
}
.right_bar{
  width: 17%;
  /* background-color: aqua; */
  max-height: 80vh;
  border-radius: 10px;
  position: sticky;
  top: 100px;
  overflow-y: scroll;
}
.right_bar::-webkit-scrollbar{
  display: none;
}
.side_bar_content{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  /* align-items: center; */
}
.side_bar_content .items{
padding: 10px;

}
.side_bar_content .items .icons{
margin-right:10px ;
}
 .post_container .author .img{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .post_container .author .img img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid yellow;
 
 }
 .post_container{
  padding: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 0.6rem;
  flex-direction: column;
  margin: 13px;
  /* background-color: gray; */
  border-radius: 10px;
 }
 .post_img   {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
 }
 .post_img img{
  height: 250px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid aqua;
 }
 .author{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
 }
 .person{
  display: flex;
  justify-content: space-between;
  align-items: center;

 }
 .like_comments{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
 }
 .like_comments .items{
  margin-right: 10px;
 }

 .right_container{
  padding: 10px;
  
 }
 .right_container .post_img #_img{
  width: 150px;
  height: 100px;
  border-radius:10px ;
  border: 1px solid aqua;

 }
 .right_container .post_img{
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
 }
 .right_container .inside_img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  position: absolute;
  bottom: 9px;
  left: 9px;
 }
 .right_container .inside_img .img{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .right_container .inside_img .img img{
  height: 40px;
  width: 50px;
  border-radius: 10px;
  border: 2px solid yellow;

 }